{% extends "base.html" %}
{% block head_title %}{{ block.super }}{% endblock head_title %}
{% block content %}

 	<div class="col-lg-12">
 		<h1 class="text-center">{{ title }} Questions</h1><br>

 		<div class="container-fluid text-center">
 			{% for obj in object_list %}

 				{% if obj.id in correctly_solved_list %}
	 				<a href="{{ obj.get_absolute_url }}">
						<div class="col-lg-3 questionItem solved">
							<h1>{{ obj.question }}</h1>
						</div>
					</a>

				{% else %}
					{% if obj.id in incorrectly_solved_list %}
						<a href="{{ obj.get_absolute_url }}">
							<div class="col-lg-3 questionItem falseSolved">
								<h1>{{ obj.question }}</h1>
							</div>
						</a>

					{% else %}
						<a href="{{ obj.get_absolute_url }}">
							<div class="col-lg-3 questionItem">
								<h1>{{ obj.question }}</h1>
							</div>
						</a>
					{% endif %}
				{% endif %}

			{% endfor %}
		</div>
	</div>

{% endblock content %}