{% extends "base.html" %}
{% block head_title %}IG Academy Game{% endblock head_title %}

{% block content %}

	<div class="col-lg-8">

			{% if 'BI' in subjects %}
			<div class="subject col-lg-12">
				<i class="fa fa-shield col-lg-3" aria-hidden="true"></i>
				<h3>IGCSE Biology</h3>
				<a href="/biology">Practice and strengthen your skills</a>
				<div class="foot">
					<div class="progress subprog">
		                <div class="progress-bar" role="progressbar" aria-valuenow="{{ Biology }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ Biology }}%;">
		                </div>
	                </div>
				</div>
			</div>		
			{% endif %}

			{% if 'CH' in subjects %}
			<div class="subject col-lg-12">
				<i class="fa fa-shield col-lg-3" aria-hidden="true"></i>
				<h3>IGCSE Chemistry</h3>
				<a href="/chemistry">Practice and strengthen your skills</a>
				<div class="foot">
					<div class="progress subprog">
		                <div class="progress-bar" role="progressbar" aria-valuenow="{{ Chemistry }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ Chemistry }}%;">
		                </div>
	                </div>
				</div>
			</div>
			{% endif %}

			{% if 'PH' in subjects %}			
			<div class="subject col-lg-12">
				<i class="fa fa-shield col-lg-3" aria-hidden="true"></i>
				<h3>IGCSE Physics</h3>
				<a href="/physics">Practice and strengthen your skills</a>
				<div class="foot">
					<div class="progress subprog">
		                <div class="progress-bar" role="progressbar" aria-valuenow="{{ Physics }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ Physics }}%;">
		                </div>
	                </div>
				</div>
			</div>	
			{% endif %}	

			{% if 'MA' in subjects %}	
			<div class="subject col-lg-12">
				<i class="fa fa-shield col-lg-3" aria-hidden="true"></i>
				<h3>IGCSE Math</h3>
				<a href="/math">Practice and strengthen your skills</a>
				<div class="foot">
					<div class="progress subprog">
		                <div class="progress-bar" role="progressbar" aria-valuenow="{{ Math }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ Math }}%;">
		                </div>
	                </div>
				</div>
			</div>	
			{% endif %}

			{% if 'EN' in subjects %}		
			<div class="subject col-lg-12">
				<i class="fa fa-shield col-lg-3" aria-hidden="true"></i>
				<h3>IGCSE English</h3>
				<a href="/english">Practice and strengthen your skills</a>
				<div class="foot">
					<div class="progress subprog">
		                <div class="progress-bar" role="progressbar" aria-valuenow="{{ English }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ English }}%;">
		                </div>
	                </div>
				</div>
			</div>	
			{% endif %}		
			
	</div>

	<div class="col-lg-4">
		
		<div class="profile text-center">
			<i class="fa fa-star" aria-hidden="true"></i>
			<h3>IGian Level 1</h3>
		</div>

	</div>

{% endblock content %}